<div class="tanque-wrapper">
  <div class="tanque">
    <div
      class="tanque__fill"
      [style.height.%]="alturaPct()"
      [style.background]="color()">
    </div>
  </div>

  <div class="leyenda">
    <p class="leyenda__titulo">Estado (según la API)</p>
    <div class="leyenda__estado" [style.color]="color()">
      {{ estado() }}
    </div>
    <div class="leyenda__ref">
      <div class="leyenda__item">
        <span class="punto" style="background:#1D9E75"></span> Normal
      </div>
      <div class="leyenda__item">
        <span class="punto" style="background:#EAB308"></span> Prevención
      </div>
      <div class="leyenda__item">
        <span class="punto" style="background:#EF7A27"></span> Precaución
      </div>
      <div class="leyenda__item">
        <span class="punto" style="background:#E24B4A"></span> Crítica
      </div>
    </div>
  </div>
</div>
